@import '../tools/variables.scss';

.checkbox {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: 0 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    cursor: pointer;
    transition-duration: .3s;
    
    &__radio {
        position: absolute;
        content:'';
        width: 30px;
        height: 30px;

        top: 0px;
        left: 0px;
        border-radius: 50%;

        background: var(--TodoContainer);
        
        &:hover { &::after { background: var(--CheckBorderHover); }}

        &::after {
            position: absolute;
            z-index: -1;
            content:'';
            width: 34px;
            height: 34px;
            
            top: -2px;
            left: -2px;
            
            border-radius: 50%;
            
            background: var(--CheckBorder);
        }
        
    }
    
    &__text {
        width: 550px;
        
        color: var(--TextColor);
        text-decoration: none;
        overflow-wrap: break-word;
    }

    &__close {
        display: none;
        justify-self: flex-end;
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-right: 25px;
        
        
        background: url(./assets/images/icon-cross.svg) no-repeat;
        background-position: center;
        
        cursor: pointer;
    }

    &__focus {
        display: none;
        position: absolute;
        width: 550px;
        height: 65px;
        
        top: 0;
        left: 85px;
        
        background: var(--TodoContainer);
        
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        color: var(--TextColor);

        &.active { display: block; }
    }
}

@media (max-width: 700px) {
    .checkbox {
        width: 20px;
        height: 20px;
        margin: 0 20px;
        
        &__radio {
            position: absolute;
            content:'';
            width: 20px;
            height: 20px;
    
            &::after {
                width: 24px;
                height: 24px;
            }
        }
        
        &__text { width: 240px; }
    
        &__close {
            width: 12px;
            height: 12px;
            margin-right: 20px;
        }
    
        &__focus {
            width: 240px;
            height: 48px;
            top: 0;
            left: 55px;
        
            font-size: 16px;
        }
    }
}
